.table-hidden {
  display: none !important;
}
.active-link {
  color: #fff !important;
}
.approval-table td:first-child {
  cursor: pointer;
  color: #0d6efd;
}
.approval-table td:first-child:hover {
  text-decoration: underline;
}
.enrolled-count:hover{
color: #0d6efd;
text-decoration: underline;
cursor: pointer;
}
#pendingclaim-modal .modal-dialog{
  max-width: 90%;
}
/* td:nth-child(3){
    text-align-last: end;
  } */

  /* @media (min-width:1200px) {
    
    .dataTables_scrollHeadInner{
      width: 100% !important;
    }
    .dataTables_scrollHeadInner table{
      width: 100% !important;
    }
  } */